{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block body %}
    <h1>Adresse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>DateEnreg</th>
                <th>DateFin</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td>{{ adresse.id }}</td>
                <td>{{ adresse.Adresse }}</td>
                <td>{{ adresse.DateEnreg ? adresse.DateEnreg|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ adresse.DateFin ? adresse.DateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ adresse.Status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_adresse_show', {'id': adresse.id}) }}">show</a>
                    <a href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adresse_new') }}">Create new</a>
{% endblock %}
