{% extends 'base.html.twig' %}

{% block title %}Role{% endblock %}

{% block body %}
<div class="center text-light w-90">
    <h1>{{ role.libelle }}</h1>

    <div class="table text-light">
        <div>
            <div>
                <h3>Id : </h3>
                <td>{{ role.id }}</td>
            </div>
            <div>
                <h3>Rang : </h3>
                <td>{{ role.rang }}</td>
            </div>
            <div>
                <h3>Libelle : </h3>
                <td>{{ role.libelle }}</td>
            </div>
        </div>
    </div>

    <a href="{{ path('app_role_index') }}" class="btn btn-small btn-secondary">Retour à la liste</a>

    <a href="{{ path('app_role_edit', {'id': role.id}) }}" class="btn btn-small btn-secondary">Modifier</a>

    {{ include('role/_delete_form.html.twig') }}
</div>
{% endblock %}
