{% extends 'base.html.twig' %}

{% block title %}Cursus{% endblock %}

{% block body %}
<div class=" text-light w-90 align-items-center center">
                <h1>{{ cursu.libelle }}</h1>
                <p>{{cursu.descriptionCursus | raw}}</p>
                <span class="text-light">prix : {{cursu.prixCursus}} €</span>
                <div class="d-flex justify-content-between my-4">
                    <a href="{{ path('app_cursus_index') }}" class="btn btn-md btn-secondary m-3">Retour</a>
                    {% if is_granted('ROLE_ADMIN')%}
                    <a href="{{ path('app_cursus_edit', {'id': cursu.id}) }}" class="btn btn-md btn-secondary m-3">Modifier</a>   
                    {% endif %}
                </div>
                {{ include('cursus/_delete_form.html.twig') }}
    <div class="d-flex justify-content-center w-100">
        <a href="{{ path('app_cursus_index') }}" class="btn btn-md btn-secondary m-3 text-center">je m'inscris à cette formation</a>
    </div>
</div>
{% endblock %}
