{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="center text-light w-90">
    <h1>{{ user.username }}</h1>

    <div class="table text-light">
        <div>
            <div class="my-3">
                <h3>Id :</h3>
                <td>{{ user.id }}</td>
            </div>
            <div class="my-3">
                <h3>Username :</h3>
                <td>{{ user.username }}</td>
            </div>
            <div class="my-3">
                <h3>Roles :</h3>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </div>
            <div class="my-3">
                <h3>Mot de passe :</h3>
                <td>***********</td>
            </div>
        </div>
    </div>
<div class="m-2">
    <a href="{{ path('app_user_index') }}" class="btn btn-small btn-secondary mx-5">Retour à la liste</a>
    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-small btn-secondary mx-5">Modifier</a>
</div>
    {{ include('user/_delete_form.html.twig') }}
</div>
{% endblock %}
